.carrito {
    margin: 0%;

    .carrito_titulo {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            margin: 15% 4.5% 0% 4.5%;
            font-family: $tipografia;
            font-size: 3rem;
            font-weight: 400;
            text-align: center;

            &:hover {
            color: $color1;
            }
        }

        hr {
            text-align: center;
            width: 30%;
            margin-top: 15%;
        }
    }

    .carrito_info {
        margin: 2% 0% 2% 32%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: flex-start;
        font-family: $tipografia;
        font-size: 1.8rem;

        .carrito_producto {
            display: flex;
            flex-direction: row;
            margin-bottom: 4%;

            img {
                width: 20%;
                margin-right: 7%;
            }

            .carrito_producto_info {
                line-height: 5rem;
                margin: 1% 0% 0% 0%;

                strong {
                    font-weight: 600;
                }
            }
        }

        hr {
            text-align: center;
            width: 50%;
        }

        .carrito_total {
            margin-top: 2%;
            font-size: 2.5rem;

            strong {
                color: $color1;
            }
        }
    }
}

