.main_producto {
    width: 20%;
    margin: 2%;

    .main_producto_title {
        font-family: $tipografia;
        font-size: 1.8rem;
        margin-bottom: 4%;
    }

    .main_producto_price {
        @extend .main_producto_title;
        font-weight: 600;
    }

    .main_producto_button {
        font-family: $tipografia;
        font-size: 1.5rem;
        background-color: $color1;
        border: none;

        &:hover {
            background-color: $color2;
        }
    }

    .stockDisponible {
        margin-top: 5%;
        font-family: $tipografia;
    }

    strong {
        font-weight: 600;
        color: $color1;
    }
}