@import "../../styles/mediaQueries.scss";

.footer {
    padding: 1%;
    background-color: $color1;
    width: 100%;

    p {
        margin: 2%;
        text-align: center;
        color: white;
        font-family: $tipografia;

        strong {
        &:hover {
            color: $color2;
        }
        }
    }

    @include celularHorizontal {

    }

    @include pantallaGrande {
        padding: 1%;
        background-color: $color1;

        p {
            margin: 2%;
            text-align: center;
            color: white;
            font-family: $tipografia;

            strong {
            &:hover {
                color: $color2;
            }
            }
        }
    }
}